
{% extends 'base.html '%}
{% load static %}



{% block content %}


<!-- into -->

<section>
    <div class="container text-center">
        <div class="py-5  align-item-center justify-content-center">
            
            <h1> title of the article </h1>
            <h3> name of the author </h3>
            <p> date of published </p>
            <img  class="img-fluid py-5" style="width:900px;" src="{% static 'img/blog_art/undraw_phone_call_re_hx6a.svg' %}" alt="">   
        </div>
    
    
    
    </div>

    <!-- article -->
    <section class="py-5">
        <div class="container">
            <div class="row col-12 ">
                <div class="col-12  pl-lg-4 mbr-text mbr-fonts-style display-7">
                <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem vitae maxime quibusdam mollitia quisquam deleniti earum, quod tempore minima ab? Velit eos laudantium iste voluptatibus! Eligendi amet placeat sit. Repellat veniam temporibus magni excepturi alias, libero, error quo labore nihil illum soluta maxime repellendus? Minima quae esse impedit dolor rem? </h3>
                </div>
                
                
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusamus harum officiis illum quibusdam, consequatur tempore, vitae aliquam explicabo in ea fugiat eius id quo, saepe ut dolorem deleniti! Tempora at repudiandae laborum inventore, explicabo magnam rem, eos voluptatem distinctio sunt corporis quisquam minus possimus veniam. Modi quas cumque ad?</h5>

            </div>
            <div class="col-12  pl-lg-4 mbr-text mbr-fonts-style display-7">
                <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem vitae maxime quibusdam mollitia quisquam deleniti earum, quod tempore minima ab? Velit eos laudantium iste voluptatibus! Eligendi amet placeat sit. Repellat veniam temporibus magni excepturi alias, libero, error quo labore nihil illum soluta maxime repellendus? Minima quae esse impedit dolor rem? </h3>
                </div>
                
                
                <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusamus harum officiis illum quibusdam, consequatur tempore, vitae aliquam explicabo in ea fugiat eius id quo, saepe ut dolorem deleniti! Tempora at repudiandae laborum inventore, explicabo magnam rem, eos voluptatem distinctio sunt corporis quisquam minus possimus veniam. Modi quas cumque ad?</h5>

                <div class="col-12  pl-lg-4 mbr-text mbr-fonts-style display-7">
                    <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem vitae maxime quibusdam mollitia quisquam deleniti earum, quod tempore minima ab? Velit eos laudantium iste voluptatibus! Eligendi amet placeat sit. Repellat veniam temporibus magni excepturi alias, libero, error quo labore nihil illum soluta maxime repellendus? Minima quae esse impedit dolor rem? </h3>
                    </div>
                    
                    
                    <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusamus harum officiis illum quibusdam, consequatur tempore, vitae aliquam explicabo in ea fugiat eius id quo, saepe ut dolorem deleniti! Tempora at repudiandae laborum inventore, explicabo magnam rem, eos voluptatem distinctio sunt corporis quisquam minus possimus veniam. Modi quas cumque ad?</h5>
    
                </div>
            </div>
            
        </div>
    </section>
</section>


{% endblock %}